<footer class="footer has-text-white">
  {% include footer-injection.html %}
  {% include language-selector.html %}
  <div class="content has-text-right">
    <span class="footer__contact-info">
      <p>{{site.email | uppercase}}<br>{{site.phone[page.language]}}</p>
    </span>
    <span class="footer__copyright">
      <p>© {{ site.time | date: '%Y' }} THOMAS THORNTON</p>
      <p><a href="https://torontowebdevs.com" target="_blank">Website by Toronto Web Developers</a></p>
    </span>
  </div>
</footer>
