<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{site['language directories'][page.language] | relative_url}}">
      <img src="{{site.logo}}">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="mainNav">
    <div class="navbar-end">
      {% for navigation_page in site['top navigation'][page.language] %}
        {% unless navigation_page['sub navigation'] %}
          {% assign the_page = site.pages | where: 'title', navigation_page.title | first %}
          <a href="{{the_page.permalink | relative_url}}" class="navbar-item {% if page.title == the_page.title %} active{% endif %}">
            {{the_page.title}}
          </a>
        {% else %}
        
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{navigation_page.title}}
          </a>

          <div class="navbar-dropdown">
            {% for subnavigation_page in navigation_page['sub navigation'] %}
              {% assign the_page = site.pages | where: 'title', subnavigation_page.title | first %}
              <a href="{{the_page.permalink | relative_url}}" class="navbar-item{% if page.title == the_page.title %} active{% endif %}">
                {{the_page.title}}
              </a>
            {% endfor %}
          </div>
        </div>
          
        {% endunless %}
      {% endfor %}

    </div>
  </div>
</nav>
