body {
  color: $grey_dark;
  background-color: #f8f8f9;
}

main.container {
  margin: 2rem auto;
}

@media screen and (min-width: 1088px) {
  main.container {
    margin: 4rem auto;
  }
}

img {
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $family-secondary;
  font-weight: bold;
}

h2, h3 {
  text-transform: uppercase;
}

h1 {
  color: $black-bis;
  display: inline-block;
  margin-bottom: 0.5rem;
  border-bottom: 3px solid $secondary;
}

h2 {
  font-size: $size-large;
  margin-bottom: $size-large;
}

h3 {
  font-size: $size-6;
  margin-bottom: $size-6;
  letter-spacing: 0.123rem;
}

p {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

a {
  color: $primary;
  border-bottom: 1px solid $primary;
  
  &:hover {
    color: $secondary;
    border-bottom-color: $secondary;
  }
}

section {
  padding: 3rem 1.2rem;
}

figure {
  background: white;

  img {
    padding: 0.5rem;
    box-shadow: 0px 3px 0.5rem $grey_light;
  }
}

blockquote {
  background-color: white;
  border-left: solid 2px #3916e5;
  padding: 1rem 2rem;
  margin: 4rem auto;
  max-width: 800px;
  box-shadow: 0px 3px 0.5rem $grey_light;
}

ul {
  list-style: disc inside;
  margin: 1rem 0.5rem;
}

.title {
  font-size: 2.9rem;
}

.columns, .columns:not(:last-child) {
  margin: 0;
}

.pad-bottom-0 {
  padding-bottom: 0;
}

// navbar

.navbar {
  box-shadow: 0 3px 1rem $grey;
  background: $primary;
  text-transform: uppercase;
  font-family: $family-secondary;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  font-weight: 400;
}

.navbar-item {
  
  padding: 1rem;
  font-weight: 700;
  letter-spacing: 0.13rem;
  border-bottom: none;
  
  img {
    max-height: 2.5rem;
  }
}

a.navbar-item:hover, a.navbar-item.active, .navbar-link:hover, .navbar-link.active {
  color: $secondary;          
}

.navbar-burger {

  height: auto;

  &:hover {
    border: none;
    background: none;
  }
}

// footer

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > main {
  flex: 1;
}

.footer {
  
  font-family: $family-secondary;
  font-size: $size-small;
  letter-spacing: 0.05rem;

  a {
    color: white;
    text-transform: uppercase;
  }

  &__contact-info {
    border-bottom: 1px solid white;
  }
}

#languageSelector {
  
  a {
    font-size: $size-xs;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin: 0 0.5rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid $grey_light;
    
    &:hover {
      color: $secondary;
      border-bottom-color: $secondary;
    }
  }
}

// caption

.caption {
  margin-top: 1rem;
}



// full image banner page

.image.full-banner {
  object-position: 50% 7%;
}

// contact form

.input, .textarea {
  border-radius: 0;
  border: 1px solid $grey;
  padding: 1.2rem 0.8rem;
  background: $white-bis;
}

.label {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
}

.button.is-primary.is-outlined {
  padding: 0.5rem 2rem;
  border-width: 2px;
  border-radius: 0;
  text-transform: uppercase;
  height: auto;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.09rem;
}