body {
  color: $grey_dark;
}

h1 {
  color: $black-bis;
  display: inline-block;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid $secondary;
}

p {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

// sticky footer

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > main {
  flex: 1;
}

// navbar

.navbar {
  background: $primary;

  .navbar-dropdown .navbar-item {
    color: red;
  }
}

// caption

.caption {
  margin-top: 1rem;
}

.footer a {
  color: white;
  text-transform: uppercase;
}
