---
layout: default
---

<div class="columns">
  <section class="section column is-4 banner">
    <figure class="image">
      <img src="{{page['banner image'] | relative_url}}" alt="{{page.title}} banner">
    </figure>
    <div class="caption content has-text-right">
      <p class="is-size-7">{{page['image credit']}}</p>
    </div>
  </section>

  <section class="section column is-8">
    <h1><span class="title">{{page.title}}</span></h1>
    {{content}}
    <form action="https://formspree.io/thos.thornton@gmail.com" method="POST" class="form"/>
    <div class="columns">
      <div class="column pad-bottom-0"><label for="first-name" class="label">{{page['contact form']['name']}}</label>
      </div>
    </div>
      <div class="columns">
        <div class="column pad-bottom-0">
          <div class="field is-half">
            <div class="control">
              <input type="text" class="input is-small" name="{{page['contact form']['first name']}}" required>
              <p class="help">{{page['contact form']['first name']}}</p>
            </div>
          </div>
        </div>
        <div class="column pad-bottom-0">
          <div class="field is-half">
            <div class="control">
              <input type="text" class="input is-small" name="{{page['contact form']['last name']}}" required>
              <p class="help">{{page['contact form']['last name']}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label for="email" class="label">{{page['contact form']['email']}}</label>
            <div class="control">
              <input class="input is-small" type="email" name="{{page['contact form']['email']}}" required>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label for="message" class="label">{{page['contact form']['message']}}</label>
            <div class="control">
              <textarea type="message" class="textarea is-small" name="{{page['contact form']['message']}}"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column has-text-right">
          <input type="submit" value="{{page['contact form']['submit']}}" class="button is-primary is-outlined">
        </div>
      </div>
    </form>
  </section>
</div>
