---
layout: default
---

<div class="columns">
  <section class="section column is-3 banner">
    <figure class="image">
      <img src="{{page['banner image']}}" alt="{{page.title}} banner">
    </figure>
    <div class="caption content has-text-right">
      <p class="is-size-7">{{page['image credit']}}</p>
    </div>
  </section>

  <section class="section column is-9">
    {{content}}
    <form action="https://formspree.io/dorian.wolf@gmail.com" method="POST" class="form"/>
      <div class="field">
        <label for="first-name" class="label">{{page['contact form']['first name']}}</label>
        <div class="control">
          <input type="text" class="input" name="{{page['contact form']['first name']}}" required>
        </div>
      </div>
      <div class="field">
        <label for="last-name" class="label">{{page['contact form']['last name']}}</label>
        <div class="control">
          <input type="text" class="input" name="{{page['contact form']['last name']}}" required>
        </div>
      </div>
      <div class="field">
        <label for="email" class="label">{{page['contact form']['email']}}</label>
        <div class="control">
          <input class="input" type="email" name="{{page['contact form']['email']}}" required>
        </div>
      </div>
      <div class="field">
        <label for="message" class="label">{{page['contact form']['message']}}</label>
        <div class="control">
          <textarea type="message" class="textarea" name="{{page['contact form']['message']}}"></textarea>
        </div>
      </div>
      <input type="submit" value="{{page['contact form']['submit']}}" class="button">
    </form>
  </section>
</div>
