---
layout: default
---

<div class="columns">
  <section class="section column is-4 banner">
    <figure class="image">
      <img src="{{page['banner image']}}" alt="{{page.title}} banner">
    </figure>
    <div class="caption content has-text-right">
      <p class="is-size-7">{{page['image credit']}}</p>
    </div>
  </section>

  <section class="section column is-8">
    <h1 class="title">{{page.title}}</h1>
    <h3 class="h3">{{page['text beside image'].title}}</h3>
    <p>{{page['text beside image'].paragraph}}</p>
    <section class='section has-text-right'>
      <a href="{{page['text beside image']['button link']}}" class="button is-primary is-outlined">{{page['text beside image']['button text']}}</a>
    </section>
  </section>
</div>
<div class="columns">
  <section class="section column">
    {{content}}
  </section>
</div>
