---
layout: default
---

<section class="section banner columns">
  <div class="column">
    <figure class="image is-16by9">
      <img src="{{page['banner images'][0]['image']}}" alt="{{page.title}} banner">
    </figure>
    <div class="caption content has-text-right">
      <p class="is-size-7">{{page['banner images'][0]['image credit']}}</p>
    </div>
  </div>
  <div class="column">
    <figure class="image is-16by9">
      <img src="{{page['banner images'][1]['image']}}" alt="{{page.title}} banner">
    </figure>
    <div class="caption content has-text-right">
      <p class="is-size-7">{{page['banner images'][1]['image credit']}}</p>
    </div>
  </div>
  <div class="column">
    <figure class="image is-16by9">
      <img src="{{page['banner images'][2]['image']}}" alt="{{page.title}} banner">
    </figure>
    <div class="caption content has-text-right">
      <p class="is-size-7">{{page['banner images'][2]['image credit']}}</p>
    </div>
  </div>
</section>

<section class="section">
  {{content}}
</section>
